/* #latest{
    justify-content: center;
    margin: 0px;
    padding: 20px 200px;
    background-color: lightgrey;
    justify-content: center;
}

#latest-title{
    font-size: 50px;
    font-family: roboto;
    text-align: center;
    color:black;

}

.card-latest{
    display: flex;
    margin: 40px;
}

.card-image-latest{
    width: auto;
    padding: 0px;
    margin: 5px;
}

.card-body-latest{
    flex-direction: column;
    padding: 0px 40px;
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    padding-right: 80px;
    margin-right: 150px;
    margin-top: 0px;
    justify-content: space-around;
    font-size: small;
}

.card-title-latest{
    font-size: 25px;
    padding: 0%;
    margin: 0%;
}

.button-latest{
    background-color: #A99E9E;
    width: 66px;
    height: 18px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    border: none;
    border-radius: 8px;
}

.button-latest:hover{
    background-color: bisque;
    color: chocolate;
    cursor: pointer;
} */